/* custom css here */
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
}

.h-100 {
  height: 100%;
}

#holy {
  display: grid;
  /* auto: as wide as its content
   * fr: all available space */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "header header"
    "main side"
    "extra extra"
    "footer footer";
}

#header {
  grid-area: header;
}
.UnderlineNav-item.selected {

}
#main {
  grid-area: main;
  max-width: 782px;
}

#side {
  grid-area: side;
  width: 230px;
}

#extra {
  grid-area: extra;
}

#extra * {
  list-style: none;
}

#footer {
  grid-area: footer;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}

/* TOC */
#toc {
  margin-top: 1.5rem;
  padding: 0.7rem;
  border-left: 1px solid #e1e4e8
}

#toc * {
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5e5e5e;
}

#toc ul {
  padding-left: 0.8rem;
}

#toc li {
  margin-top: 0.3rem;
}

#toc a {
  font-size: 12px;
}

#toc a:hover {
  color: #1e88e5;
  text-decoration: none;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }

  #header {}

  #main {
    max-width: 1012px;
  }

  #side {
    width: unset;
    padding-left: 20px;
  }

  #side #toc {
    display: none;
  }

  #extra {
    max-width: 1012px;
  }
}

/* utility */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}