name: Build site

on:
  push:
      paths-ignore: 'docs/**'
      branches: master

jobs:
  build-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout master
      uses: actions/checkout@v2

    - name: Get hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.66.0'

    - name: Build
      run: make build

    - name: Update Github Page
      uses: peaceiris/actions-gh-pages@v2.4.0
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./docs
